
<div class="col s4 center"><h4>User Login</h4></div>

<div class="row">
  <div class = "col s6 offset-s3">
    <form action='/sessions' method='POST' autocomplete="new-password">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="row">
          <div class="input-field">
              <label for="email">Email:</label>
              <input type="search" name="email" value="<%=flash[:login_email]%>" autocomplete="new-password"><br>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <label for="password">Password:</label>
            <input type="password" name="password" value = "" autocomplete="new-password"> <br>
          </div>
        </div>
        <div class="row">
          <button class="btn light-blue lighten-1" type="submit" name="action">Login
          </button>
        </div>
    </form>

    <% if flash[:errors] %>
      <% if flash[:login_error] == "login" %>
        <% flash[:errors].each do |msg| %>
          <p> <%= msg %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
